
    <div class="col-lg-12 mt-5">
        <div class="row d-flex justify-content-center align-items-center">
                <h1  class="text-center"><strong style="font-family: 'Poppins', sans-serif; font-size: 30px;" >Opciones Rapidas</strong></h1>
        </div>
    </div>

    <div class="col col-lg-12">
    <div class="row d-flex justify-content-center align-items-center pt-5 " style="margin: 0%;">


        <div class="col col-lg-4 contenedor ">
            <a href="#">
                <figure class="position-relative" style="background-color: #ffffff">
                    <img src="https://i.pinimg.com/564x/c5/6e/e8/c56ee8aaaed86e702e14fb8cda2ed87a.jpg">
                    <div class="capa">
                        <h3 style="font-family: 'Poppins', sans-serif; font-size: 28px;">Inicio</h3>
                        <p style="font-family: 'Poppins', sans-serif; font-size: 16px;">Inicio del Administrador, aqui podras ver los accesos directos.</p>
                    </div>
                </figure>
            </a>
        </div>

        
        <div class="col col-lg-4 contenedor " >
            <a href="#">
                <figure class="position-relative" style="background-color: #ffffff">
                    <img src="https://i.pinimg.com/564x/5f/74/90/5f74909fc1ceb84b7639ecedcaa0f778.jpg">
                    <div class="capa">
                        <h3 style="font-family: 'Poppins', sans-serif; font-size: 28px;">Productos</h3>
                        <p style="font-family: 'Poppins', sans-serif; font-size: 16px;">Gestiona los productos de tu tienda y añade nuevos artículos de compra.</p>
                    </div>
                </figure>
            </a>
        </div>



        <div class="col col-lg-4 contenedor " >
            <a href="#">
                <figure class="position-relative" style="background-color: #ffffff">
                    <img src="
                    https://i.pinimg.com/564x/7d/10/89/7d10890fa54cfc03620b7f33ceaa9456.jpg">
                    <div class="capa">
                        <h3 style="font-family: 'Poppins', sans-serif; font-size: 28px;">Pagos</h3>
                        <p style="font-family: 'Poppins', sans-serif; font-size: 16px;">Aqui podras ver la lista de los pagos realizados y sus detalles.</p>
                    </div>
                </figure>
            </a>
            
        </div>

        

        <div class="col col-lg-4 contenedor mt-5" >
            <a href="#">
                <figure class="position-relative " style="background-color: #ffffff" >
                    <img src="https://i.pinimg.com/564x/e9/fe/65/e9fe6586390ead07047dcc4dea84769a.jpg">
                    <div class="capa">
                        <h3 style="font-family: 'Poppins', sans-serif; font-size: 28px;">Facturas</h3>
                        <p style="font-family: 'Poppins', sans-serif; font-size: 16px;">Aquí podras ver las facturas de las compras que se realizaron</p>
                    </div>
                </figure>
            </a>
        </div>


        <div class="col col-lg-4 contenedor mt-5" >
            <a href="#">
                <figure class="position-relative" style="background-color: #ffffff">
                    <img src="https://i.pinimg.com/564x/77/90/58/779058893008c8f6e74867c18c936b9d.jpg">
                    <div class="capa">
                        <h3 style="font-family: 'Poppins', sans-serif; font-size: 28px;">Categorias</h3>
                        <p style="font-family: 'Poppins', sans-serif; font-size: 16px;">Gestiona las categorias de tu tienda y implementa nuevas categorias para tus productos.</p>
                    </div>
                </figure>
            </a>
        </div>


        <div class="col col-lg-4 contenedor mt-5" >
            <a href="#">
                <figure class="position-relative" style="background-color: #ffffff">
                    <img src="https://i.pinimg.com/564x/99/91/a4/9991a4b887eeee54f30b282f222a42a8.jpg" >
                    <div class="capa">
                        <h3 style="font-family: 'Poppins', sans-serif; font-size: 28px;">Inventario</h3>
                        <p style="font-family: 'Poppins', sans-serif; font-size: 16px;">Administra el estado de los productos a travez del Inventario</p>
                    </div>
                </figure>
            </a>
        </div>
    
    </div>
</div>

