
<div class="container">
    <div class="general m-2">
        <div class="row d-block justify-content-center pt-4">

            <div class="col col-12 col-md-12 col-xs-12 col-sm-12 col-lg-12 mb-1 mt-4 textbac" style="font-family: 'Poppins', sans-serif;">
                <div class="row d-flex justify-content-between" >
                    <div class="col col-lg-4">
                        <h1 style="font-family: 'Poppins', sans-serif; font-size: 28px;" class="textbac"> <strong>Categoria</strong></h1>
                    </div>
                    <div class="col col-lg-6 text-end">
                        <div class="row d-flex justify-content-end">
                            
                            <div class="col col-lg-4">
                                <button class="btn btn-light btn-sm rounded-4 custom-btn" style="font-family: 'Poppins', sans-serif; margin-bottom: 10px;">
                                    <i class="fa-solid fa-plus"></i> Nueva Categoria 
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            

            <div class="col col-12 col-md-12 col-xs-12 col-sm-12 col-lg-12 mb-4 mt-4">
                <div class=" rounded-top text-center shadow p-2 textbac" style="background-color: #ffffff;">
                    <div class="row d-flex justify-content-between align-items-center mt-1 ">

                        <div class="col-lg-2 col-md-4 col-sm-5 col-xs-5 col-12 mb-2 pt-1">
                            <select class="form-select form-select-sm rounded-5 text-center lect-fond colorb border border-primary"
                                aria-label=".form-select-sm example " style="font-family: 'Poppins', sans-serif;">
                                <option selected>Todos los productos...</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                            </select>
                        </div>
                        <div class="col-lg-5 col-md-6 col-sm-7 col-xs-7 col-12 mb-2" style="font-family: 'Poppins', sans-serif;">
                            <div class="row d-flex justify-content-end">
                                <div class="col col-lg-2 d-flex justify-content-end align-items-end  pt-1">

                                <div class="c border border-primary " data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Tooltip on top" style="cursor: pointer;">
                                    <i class="fa-solid fa-arrow-up-from-bracket "></i>
                                </div>
                                
                            </div>
                                <div class="col col-lg-5 col-md-7 col-sm-7 col-xs-7 col-7 pt-1  " >
                                    <div class="input-group rounded-2">
                                        
                                        <input class="form-control form-control-sm border-primary textbac" type="search"
                                         placeholder="Buscar..." aria-label="Search" style="border-radius: 30px; padding-left: 30px; font-family: 'Poppins', sans-serif;">
                                         <i class="fa-solid fa-magnifying-glass ga "></i>
                                      </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



                <div class="table-responsive">
                    <table class="table table-hover rounded-bottom shadow" style="background-color: #ffffff;">

                        <thead class="border border-primary text-center texttab" style="background-color:#D6E6FE; font-family: 'Poppins', sans-serif;" >
                            <tr class="text-center">
                                
                                <th class="col-1 justify-content-center  align-items-center">
                                    <div class="form-check ">
                                        <input class="form-check-input border-primary" type="checkbox" value=""
                                            id="checkboxPrincipal">
                                    </div>
                                </th>
                                
                                <th class="col-lg-4">Nombre</th>
                                <th class="col-lg-4">Productos</th>
                                
                                <th class="col-lg-2">Action</th>
                                
                            </tr>
                        </thead>

                        <tbody class="text-center textbac" style="cursor: pointer;">

                            <tr style="font-family: 'Poppins', sans-serif;">
                                <td>
                                    <div class="form-check">
                                        <input class="form-check-input border-primary" type="checkbox" value=""
                                            id="checkboxSecundario">
                                    </div>
                                </td>
                               
                                <td >Maquinas de Rayos X</td>
                                <td>
                                    <div class="circle-container justify-content-center">
                                        <div class="circle border border-primary">
                                            <i class="fa-regular fa-eye"></i>
                                        </div>
                                    </div>
                                </td>
                                
                                <td>
                                    <div class="circle-container justify-content-center">
                                        <div class="circle border border-primary">
                                            <i class="fa-regular fa-pen-to-square"></i>
                                        </div>
                                        <div class="circle border border-primary">
                                            <i class="fa-regular fa-trash-can"></i>
                                        </div>
                                        
                                    </div>
                                </td>
                            </tr>


                            <tr style="font-family: 'Poppins', sans-serif;">
                                <td>
                                    <div class="form-check">
                                        <input class="form-check-input border-primary" type="checkbox" value=""
                                            id="checkboxSecundario">
                                    </div>
                                </td>
                               
                                <td >Esto es un producto</td>
                                <td>
                                    <div class="circle-container justify-content-center">
                                        <div class="circle border border-primary">
                                            <i class="fa-regular fa-eye"></i>
                                        </div>
                                    </div>
                                </td>
                                
                                <td>
                                    <div class="circle-container justify-content-center">
                                        <div class="circle border border-primary">
                                            <i class="fa-regular fa-pen-to-square"></i>
                                        </div>
                                        <div class="circle border border-primary">
                                            <i class="fa-regular fa-trash-can"></i>
                                        </div>
                                        
                                    </div>
                                </td>
                            </tr>

                            <tr style="font-family: 'Poppins', sans-serif;">
                                <td>
                                    <div class="form-check">
                                        <input class="form-check-input border-primary" type="checkbox" value=""
                                            id="checkboxSecundario">
                                    </div>
                                </td>
                               
                                <td >Esto es un producto</td>
                                <td>
                                    <div class="circle-container justify-content-center">
                                        <div class="circle border border-primary">
                                            <i class="fa-regular fa-eye"></i>
                                        </div>
                                    </div>
                                </td>
                                
                                <td>
                                    <div class="circle-container justify-content-center">
                                        <div class="circle border border-primary">
                                            <i class="fa-regular fa-pen-to-square"></i>
                                        </div>
                                        <div class="circle border border-primary">
                                            <i class="fa-regular fa-trash-can"></i>
                                        </div>
                                        
                                    </div>
                                </td>
                            </tr>

                            <tr style="font-family: 'Poppins', sans-serif;">
                                <td>
                                    <div class="form-check">
                                        <input class="form-check-input border-primary" type="checkbox" value=""
                                            id="checkboxSecundario">
                                    </div>
                                </td>
                               
                                <td >Esto es un producto</td>
                                <td>
                                    <div class="circle-container justify-content-center">
                                        <div class="circle border border-primary">
                                            <i class="fa-regular fa-eye"></i>
                                        </div>
                                    </div>
                                </td>
                                
                                <td>
                                    <div class="circle-container justify-content-center">
                                        <div class="circle border border-primary">
                                            <i class="fa-regular fa-pen-to-square"></i>
                                        </div>
                                        <div class="circle border border-primary">
                                            <i class="fa-regular fa-trash-can"></i>
                                        </div>
                                        
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>